body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  background: #11221a;
}

* {
  box-sizing: border-box;
}

header {
  background: #1c1c24;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.header-container {
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 25px;
}
.header-container .logo {
  height: 2rem;
  margin-right: 0.6rem;
}

.header-container .logo img {
  height: 100%;
}

.search {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 25px;
}

.search-container {
  background-color: #1c1c24;
  height: 60px;
  border-radius: 10px;
  border: 2px solid #222328;
  display: flex;
  overflow: hidden;
}

.input-container {
  align-items: center;
  flex-grow: 1;
  display: flex;
}

.input-container input {
  flex-grow: 1;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

.input-container i {
  font-size: 20px;
  margin-left: 25px;
}

.button-container {
  background-color: #3060ff;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button-container:hover {
  background: #5a81ff;
}

.jobs-list {
  background-color: #11121a;
  max-width: 1250px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}

.jobs-list h1 {
  margin-left: 25px;
  font-size: 20px;
}

.jobs-container {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: #11121a;
}

.job-title {
  background: #1c1c24;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  padding: 2rem;
  transition: transform 0.2s;
}

.job-title:hover {
  transform: scale(1.05);
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.top img {
  width: 50px;
  height: 50px;
}

.rolename {
  padding: 20px 0;
}

.rolename span {
  font-size: 22px;
}

.description {
  height: 105px;
  overflow: hidden;
  font-size: 18px;
  color: #969398;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height: 45px;
}

.button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #969398;
  background-color: #2e2e39;
  font-size: 14px;
}

.apply-now {
  color: white;
  background-color: #3060ff;
  margin-right: 15px;
}
